<div style="display: flex; flex-direction: row;">
    <div class="contenedor">
        <div class="formulario">
            <h1 style="text-align: center;" class="mt-2">Música</h1>
            <img [src]="imgLogo" alt="" class="logotipo">
            <form>
                <div class="w-75 centrarHorizontalmente">
                    <label class="form-label">Usuario</label>
                    <input class="form-control" type="text" [(ngModel)]="login.nombreUsuario" name="id"><br>
                    <label class="form-label">Contraseña</label>
                    <input class="form-control" type="password" [(ngModel)]="login.contrasena" name="pass"><br>
                </div>
                
                <button class="btn btn-primary centrarHorizontalmente mb-2" (click)="iniciarSesion()">Iniciar Sesion</button>
            </form>
        </div>
    </div>
    
    <!-- <div style="width: 50vw; background-color: aquamarine;">
        <img [src]="img" alt="" style="height: 100vh; width: 50vw;">
    </div> -->
</div>


